<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="footer">
    <div class="container">
        <div class="left-section">
            <a class="logo" href="/"><img loading="lazy" decoding="async" src="/assets/svgs/ilogowhite.svg" alt="logo" width="264" height="78"></a>
        </div>
        <div class="right-section">
            <div class="lists">
                <ul>
                    <li>
                        <h2>Information</h2>
                    </li>
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/services">Services</a>
                    </li>
                    <li>
                        <a href="/projects">Projects</a>
                    </li>
                    <!-- <li>
                        <a href="/testimonials">Reviews</a>
                    </li> -->
                    <li>
                        <a href="/contact">Contact</a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <h2>Service Area</h2>
                    </li>
                    <li>Indian River County</li>
                    <li>Brevard County</li>
                    <li>St. Lucie County</li>
                </ul>
                <ul>
                    <li>
                        <h2>Contact</h2>
                    </li>
                    <li>
                        <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/maps/d/u/0/edit?mid=13oGjibGn6df1j6nNbZ6KhpBLZ5mVIBc&usp=sharing">
                            {{client.address.lineOne}}<br>
                            {{client.address.lineTwo}}<br>
                            {{client.address.city}}
                            {{client.address.state}}
                            {{client.address.zip}}
                        </a>
                    </li>
                    <li>
                        <a href="tel:{{client.phoneForTel}}">
                            T:
                            {{client.phoneFormatted}}
                        </a>
                    </li>
                    <li>
                        <a href="mailto:{{client.email}}">Click to Email</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="credit">
        <span>Designed and Hand Coded by</span>
        <a href="https://www.relicdigital.com" target="_blank" rel="noopener">Relic Digital</a>
        <span class="copyright">
            Copyright 2023 - Present</span>
    </div>
</footer>