/* PAGE-SPECIFIC STYLES FOR THE ABOUT PAGE */

/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/

#iconz {
	max-width: 1200px;
	margin-right: auto;
	margin-left: auto;
	width: 80%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 120px;
	flex-direction: row;
}

#servicelist {
	margin-top: -100px;
}


/* mobile phone */
@media only screen and (max-width: 450px) {
	#iconz {
		flex-direction: column;
		align-items: center;
		justify-content: center;
		row-gap: 15px;
	}
}

/* Mobile - 360px */
@media only screen and (min-width: 0em) {


	#sbs {
		padding: var(--sectionPadding);

		.cs-container {
			width: 100%;
			max-width: calc(1280 / 16 * 1rem);
			margin: auto;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			row-gap: calc(40 / 16 * 1rem);
		}

		.cs-left {
			// /* scaling the font size with the view width */
			// font-size: min(2.31vw, 0.7em);
			// /* using ems so we can use font size to scale the whole section */
			// width: calc(631 / 16 * 1em);
			// height: calc(636 / 16 * 1em);
			position: relative;
			margin: auto
		}

		.cs-picture {
			border-radius: calc(24 / 16 * 1em);
			/* clips img tag corners */
			overflow: hidden;
			position: absolute;
			display: block;
			img {
				position: absolute;
				top: 0;
				left: 0;
				height: 100%;
				width: 100%;
				/* makes image act like a background image */
				object-fit: cover;
			}
		}

		.cs-picture1 {
			width: calc(522 / 16 * 1em);
			height: calc(581 / 16 * 1em);
			left: 0;
			top: 0;
		}

		.cs-picture2 {
			width: calc(414 / 16 * 1em);
			height: calc(400 / 16 * 1em);
			background-color: #fff;
			box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 40px;
			/* 6px - 12px */
			border: clamp(0.375em, 1.5vw, 0.75em) solid #fff;
			right: 0;
			bottom: 0;
		}

		.cs-right {
			
			margin: auto;
			max-width: calc(542 / 16 * 1rem);
		}

		.cs-topper {
			text-align: center;
			margin-bottom: calc(4 / 16 * 1rem);
		}

		.cs-title {
			text-align: center;
			max-width: calc(800 / 16 * 1rem);
		}

		.cs-text {
			text-align: center;
			max-width: calc(750 / 16 * 1rem);
			margin-bottom: calc(16 / 16 * 1rem);
			color: var(--bodyTextColor);

			&:last-of-type {
				margin-bottom: calc(32 / 16 * 1rem);
			}
		}

		.cs-flex-group {
			/* 16px - 32px */
			padding: clamp(1rem, 3vw, 2rem);
			background-color: #f7f7f7;
			border-radius: calc(16 / 16 * 1rem);
			position: relative;
		}

		.cs-flex-p {
			/* 14px - 16px */
			font-size: clamp(0.875rem, 1.5vw, 1rem);
			line-height: 1.5em;
			margin: 0 0 calc(16 / 16 * 1rem);
			color: #353535;
		}

		.cs-name {
			font-size: calc(16 / 16 * 1rem);
			line-height: 1.2em;
			text-transform: uppercase;
			font-weight: bold;
			margin: 0 0 calc(4 / 16 * 1rem);
			color: var(--headerColor);
			display: block;
		}

		.cs-job {
			font-size: calc(14 / 16 * 1rem);
			line-height: 1.5em;
			color: #353535;
			display: block;
		}

		.cs-quote-icon {
			/* 60px - 136px */
			width: clamp(3.75rem, 10vw, 8.5rem);
			height: auto;
			position: absolute;
			bottom: calc(0 / 16 * 1rem);
			/* 16px - 32px */
			right: clamp(1rem, 4vw, 2rem);
		}

		.cs-button-solid {
			margin-top: calc(32 / 16 * 1rem);
		}
	}
}

/* Desktop - 1024px */

@media only screen and (min-width: 64em) {
	#sbs {
		.cs-container {
			flex-flow: row;
			justify-content: space-between;
			gap: calc(52 / 16 * 1rem);
			li::marker {
				content: url(/assets/svgs/naio.svg);
				// content: url(#naio);
				// content: url("data:image/svg+xml;charset=UTF-8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='24' width='24'><path d='M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z' fill='none' stroke='hotpink' stroke-width='3'/></svg>");
			  }
			li{
				line-height: 2rem;
				padding-left: 0.7rem;
			}
			ul{
				columns: 3;
				-webkit-columns: 3;
				-moz-columns: 3;
				column-gap: 65px;			}
		}
	}
}

/* Dark Mode */
@media only screen and (min-width: 0em) {
	body.dark-mode {
		#sbs {
			.cs-left {
				&:before,
				&:after {
					background: var(--accent);
				}
			}

			.cs-container {
				li::marker {
					// content: url("data:image/svg+xml;charset=UTF-8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='24' width='24'><path d='M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z' fill='none' stroke='hotpink' stroke-width='3'/></svg>");
					content: url("data:image/svg+xml;charset=UTF-8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='24' width='24'><path d='M21.75,9.69,14.31,2.25l-.93.93a3.3,3.3,0,0,1,0,4.65h0L1.75,19.46v2.79H4.54L16.17,10.62h0a3.3,3.3,0,0,1,4.65,0Z' fill='none' stroke='white' stroke-width='2' /></svg>");
				}
			}
			.cs-picture2 {
				background-color: var(--dark);
				/* 6px - 12px */
				border: clamp(0.375em, 1.5vw, 0.75em) solid var(--dark);
			}

			.cs-topper {
				color: var(--primaryLight);
			}

			.cs-title {

				text-align: center;
			}
			.cs-text,
			.cs-h3,
			.cs-flex-p,
			.cs-name {
				color: var(--bodyTextColorWhite);
			}

			.cs-flex-group {
				background-color: var(--accent);
			}

			.cs-job {
				color: var(--bodyTextColorWhite);
				opacity: 0.8;
			}

			.cs-quote-icon {
				opacity: 0.2;
			}
		}
	}
}
